@model IEnumerable<ChatkaReservation.Models.Reservation>

@{
    ViewData["Title"] = "List of Reservations";
}

<h2>List of Reservations</h2>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cottage</th>
            <th>Customer Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reservation in Model)
        {
            <tr>
                <td>@reservation.ID</td>
                <td>@reservation.Cottage.Name</td>
                <td>@reservation.CustomerName</td>
                <td>@reservation.StartDate.AddDays(1).ToShortDateString()</td>
                <td>@reservation.EndDate.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@reservation.ID" class="btn btn-warning">Edit</a>
                    <form asp-action="Delete" asp-route-id="@reservation.ID" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
