@model IEnumerable<ChatkaReservation.Models.Rezervace>

@{
    ViewData["Title"] = "Seznam rezervací";
}

<h1>Seznam rezervací</h1>

<table class="table">
    <thead>
        <tr>
            <th>Datum od</th>
            <th>Datum do</th>
            <th>Chatka</th>
            <th>Uživatel</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var rezervace in Model)
        {
            <tr>
                <td>@rezervace.DatumOd.ToShortDateString()</td>
                <td>@rezervace.DatumDo.ToShortDateString()</td>
                <td>@rezervace.Chatka.Nazev</td>
                <td>@rezervace.Uzivatel.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@rezervace.Id">Editovat</a> |
                    <a asp-action="Delete" asp-route-id="@rezervace.Id">Smazat</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Přidat novou rezervaci</a>